html, body {
    height: 100vh;
    font-size: 15px;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f7e1d8;
}

.della-respira-regular {
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
}

.send-flowers-regular {
    font-family: "Send Flowers", cursive;
    font-weight: 100;
    font-style: italic;
}  

.bodoni-moda-ExtraBold {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
.header {
    height: 150px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 20px 0;
    flex-wrap: wrap;
}

.header h1 {
    font-size: 70px;
    font-family: "Bodoni Moda";
    color: #ff106a;
    height: 100px;
}

.header p {
    font-size: 20px;
    font-family: "Bodoni Moda";
    color: #e4a4c0;
    padding: 0;
    height: 50px;
    font-weight: 200;
}

.header h1,
.header p {
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

.header-title {
    text-align: center;
    flex-grow: 1;
    height: 100%;
    background-color: #faede9;
    justify-content: center;
}

.header-img {
    width: auto;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header-img2 {
    width: auto;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-body-wrapper {
    display: flex;
    height: calc(100vh - 200px); 
    flex-grow: 1;
    gap: 30px;
}

.left-nav, .nav-2 {
    width: 267px;
    box-sizing: border-box;
    background-color: #ffeff1;
    height: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    font-family: "Bodoni Moda";
    font-size: 20px;
    padding: 10px;
}

nav ul li a {
    color: #3f1708;
    text-decoration: none;
}

nav ul {
    padding-left: 0;
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
}

nav ul li {
    list-style-type: none;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
}

 .left-nav ul li:hover {
    background-color: #eac3d4;
    transition: 0.3s ease;
    box-shadow: 0 8px 11px 0 rgba(0,0,0,0.20),0 17px 50px 0 rgba(0,0,0,0.19);
}

.content {
    background-color: #ffffff;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    border-radius: 10px;
    font-family: "Bodoni Moda";
    font-size: 20px;
    color: #3f1708;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    .header img {
        display: none;
    }

    .nav-2, nav {
        display: none;
    }

    .main-body-wrapper {
        flex-direction: column;
    }


    .content {
        flex: unset;
        width: 100%;
    }

    .main-nav {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-100%);
        z-index: 1000;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        padding: 1rem;
    }

    .main-nav.active {
        max-height: 150px;
        padding-top: 40px;
        transform: translateX(0);
        background-color: #f5c0d5;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1100;
        background: none;
        font-family: "Bodoni Moda";
        color: #3f1708;
        text-decoration: none;
    }
}

@media (min-width: 901px) {
    .menu-toggle {
        display: none;
    }

    .main-nav {
        display: none;
        flex-direction: column;
        width: 300px;
    }
}